@font-face {
	font-family: shigotoMemo;
	src: url(../fonts/homepage/ShigotoMemogaki-Regular-1-01.ttf);
}

@font-face {
	font-family: notoSansCJKtc;
	src: url(../fonts/homepage/NotoSansCJKtc-Regular.otf);
}

html, body 
{ 
	/*background: url('../img/homepage/bg.jpg') no-repeat center center fixed;*/
	background: url("https://i.imgur.com/6t5iYc2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	font-family: sans-serif;
	width: 100%; height: 100%; 
	padding:0px; margin:0px;
}

a.disable {
	pointer-events: none;
	cursor: default;
}

a#skip {
	position: absolute;
	top: 2.5%; left: 2.5%;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	font-size: 24px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
}

hr {
	border-color: rgb(200,200,200);
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#version {
	position: absolute;
	bottom: 5%; right: 5%;
	font-family: shigotoMemo;
	font-size: 100px;
	z-index: 0;
}

#wrapper {
	color: black;
	background-color: rgba(0,0,0,0.0);
    overflow: hidden;
    width: 110%; height: 110%;
    position: relative;
}

#title {
	transform: translate(-50%, -50%);
	transform-origin: center bottom;
    position: absolute;
    top: 50%; left: 50%;
    opacity: 0;
}

.petal {
  position: relative;
  top: 5%; left: 0%;
  width: 7.25%;
  z-index:5;
}

.petal:nth-child(odd){
    top: 5%; left: 75%;
}

#sakuraPetal {
	position: absolute;
	top: 0%; left: 0%;
	width: 100%;
	max-width: calc(146.36vh - 5em);
}

#sakura {
	opacity: 0;
	pointer-events: none;

	transition: opacity 0.25s;
}

.box {
    margin: 10px;
    padding: 15px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    /*display:inline-block;*/
}

.content {
	position: relative;
	width: 100%;
}

#student-card {
	position: absolute;
	top: 50%; left: 25%;
	transform: translate(-15%, 60%) rotate(15deg);
	/*vertical-align: middle;*/
	z-index: 1;
}

.profile-pic {
	position: absolute;
	top: 20%; right: 17%;
	transform: translate(25%, 25%);
	vertical-align: middle;
}

.interest {
	position: absolute;
	width: 210px; height: 100px;
	top: 60%; left: 21%;
	padding: 5px 13px;
	font-size: 18px;
}

.interest-tag,
.red-tag {
	display: inline-block;
	background: rgba(255,170,150,0.9);
	background: -webkit-linear-gradient(left,rgba(255,170,150,0.9),rgba(250,100,90,0.8)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(255,170,150,0.9),rgba(250,100,90,0.8)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(255,170,150,0.9),rgba(250,100,90,0.8)); /*Fx 3.6-15*/
	background: linear-gradient(to right,rgba(255,170,150,0.9),rgba(250,100,90,0.8)); /*Standard*/
	color: white;
	padding: 1px 3px;
	margin: 3px auto;
	border-radius: 5px;
	overflow: hidden;
	cursor: default;
}

#notebook {
	position: absolute;
	top: 40%; right: 45%;
	transform: translate(25%, 0%) rotate(-30deg);
	/*background-color: orange;*/
	vertical-align: middle;
	padding: 20px;
}

.menu {
	position: absolute;
	bottom: 20%; right: 0;
	transform: translate(90%, 0%);
	z-index: -1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.menu li {
	transition: transform 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	padding: 1px 0;
	margin: 7px 0;
	background: url(../img/homepage/menu-label.png) no-repeat;
}

.menu li a {
	position: relative;
    display: block;
    min-width: 200px;
    color: black;
    font-family: 'BebasNeueBold'; 
	font-weight: bold; 
	font-style: normal; 
	font-size: 30px;
    text-decoration: none;
    text-align: center;
    transform: translate(0,-15%);

}

.menu li:hover {
	transform: scale(1.5,1.5) translate(25px, 0px);
	background: url(../img/homepage/menu-label-hover.png) no-repeat;
}


#self-intro-wrapper {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(150,150,150,0.8);
	z-index: 2;

	display: none;
	opacity: 0;
	transition: opacity 0.5s;
}

#self-intro {
	position: fixed;
	/*display: none;*/
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 1000px; height: 600px;
	padding: 3em;
	background-color: rgba(255,255,255,0.9);
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	font-family: notoSansCJKtc;
	overflow: hidden;
	z-index: 2;

	/*visibility: hidden;
	transition: visibility 0.5s;*/
}

#self-intro blockquote {
	border-left-color: #5bc0de; 
	background: -webkit-linear-gradient(left,rgba(200,200,200,0.5),rgba(200,200,200,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(200,200,200,0.5),rgba(200,200,200,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(200,200,200,0.5),rgba(200,200,200,0)); /*Fx 3.6-15*/
	background: linear-gradient(to right,rgba(200,200,200,0.5),rgba(200,200,200,0)); /*Standard*/
}

#self-intro .intro-content {
	width: 80% height: auto;
	margin-top: 1em;
	padding: 1em;
	border-radius: 5px;
	background: rgba(255,150,150,0.5);
	background: -webkit-linear-gradient(left,rgba(255,150,150,0.5),rgba(255,150,150,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(right,rgba(255,150,150,0.5),rgba(255,150,150,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(right,rgba(255,150,150,0.5),rgba(255,150,150,0)); /*Fx 3.6-15*/
	background: linear-gradient(to right,rgba(255,150,150,0.5),rgba(255,150,150,0)); /*Standard*/
}

#self-intro h3>.label {
	font-weight: normal;
	margin-left: 10px;
}

#self-intro .close {
	position: absolute;
	top: 5%; right: 5%;
}

.show-label {
	padding: 0.5em;
	font-size: 36px;
	text-align: center;
}

.fa-intro {
	color: rgb(250,100,90);
}

.good-at {
	padding: 0.5em;
	font-size: 24px;
	text-align: center;
}

.show-label a:hover .fa-intro,
.show-label a:active .fa-intro {
	color: rgb(230,80,70);
}

.notice {
	display: none;
	position: fixed;
	bottom: 5%; left: 5%;
	max-width: 600px; height: auto;
}

.notice-content {
	position: absolute;
	top: 5%; left: 5%;
	overflow-y: auto;
	margin: 5px;
	padding: 5px;
	font-family: shigotoMemo;
	font-size: 24px;
	font-weight: bold;
}

.notice-content h1 {
	font-size: 48px;
	font-weight: bold;
}

.notice-content-list {
	max-height: 280px;
	overflow-y: auto;
	text-overflow: clip;
}

.notice-content ul li > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.notice-content ul li > ul li {
	padding-left: 1em;
	text-indent: -.7em;
}

.notice-content ul li > ul li::before {
	content: "―　";
}

.notice-content ul li a,
.notice-content ul li > ul li a {
	color: inherit;
	text-decoration: none;
	background-image: url(../blog/img/underline.png);
	background-position: bottom center;
	background-repeat: repeat-x;
}

@media screen and (max-width: 576px) {
	#version {
		font-size: 68px;
		transform: translate(0,-50%);
	}

	#student-card {
		top: 30%; left: 25%;
		margin: 10px;
	}

	#notebook {
		top: 100%; right: 35%;
	}

	#self-intro {
		width: 420px; height: auto;
		overflow-y: auto;
	}

	#self-intro .close {
		top: 2%; right: 3%;
	}

	.notice-content-list {
		height: 170px;
	}
}

@media screen and (max-width: 1920px) and (min-width: 1280px) {
	#notebook {
		top: 50%; right: 35%;
	}
}