@font-face {
	font-family: bamboo;
	src: url(../fonts/bamboo.ttc);
}

@font-face {
	font-family: notoSansCJKtc;
	src: url(../../fonts/homepage/NotoSansCJKtc-Regular.otf);
}

@font-face {
	font-family: hanazome;
	src: url(../fonts/hanazome.ttf);
}

body {
	/*background: url('../img/bg.jpg') no-repeat center center fixed;*/
	background: url("https://i.imgur.com/naM9rG0.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

::selection {
	background: transparent;
}

ita {
	font-style: italic;
}

.bg-layer {
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

.title {
	position: relative;
}

.blog {
	background-image: url(../img/blog_head1.jpg), url(../img/blog_tail.jpg), url(../img/blog_body.jpg);
	background-position: center top, center bottom, center top;
	background-repeat: repeat-x, repeat-x, repeat-y;
}


.blog-title {
	background-image: url(../img/blog_head1.jpg);
	background-position: top center;
	background-repeat: repeat;
	padding: 2em 0;
}

.blog-title > .photo {
	position: relative;
	transform: rotate(-1deg);
}

.blog-title > .photo > .tape {
	position: absolute;
	top: 0; left: 50%;
	transform: rotate(1deg) translate(-50%,-20%);
}

.blog-title > .photo > .photo-style {
	max-width: 1020px;
	max-height: 320px;
}

.photo-style {
	padding: 10px;
	background-color: rgba(255,255,255,0.8);
}

.title-content {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: hanazome;
	font-size: 64px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);

	max-width: 900px;
}

.title-content small {
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.9);
	color: black;
	font-size: 10px;
	font-weight: normal;
	font-family: hanazome;	
}

.content {
	background-image: url(../img/content_head.jpg), url(../img/content_head.jpg), url(../img/content_body.jpg);
	background-position: center top, center bottom, center top;
	background-repeat: no-repeat, no-repeat, repeat-y;
	box-shadow: 10px 10px 10px grey;
	margin-bottom: 0;
}

.content-heading {
	display: block;
	margin-bottom: 0;
	padding-top: 1.6em;
	text-align: center; 
	font-family: bamboo, notoSansCJKtc;
	font-weight: bold;
	font-size: 2em;
}

.content-body {
	margin: 0;
	font-family: bamboo, notoSansCJKtc;
	font-size: 24px;
	padding: 0 1.2em;
	line-height: 46px;
	min-height: 500px;
}

.content-body p {
	padding: 0;
	margin: 0;
}

.content-body p:first-child {
	margin-top: 8px;
}

.content-body p.date {
	font-style: italic;
	text-align: right;
	opacity: 0.8;
}

.content-body p::before {
	content: "　　";
}

.content-body p.dl {
	height: 46px; width: auto;
	transform: translate(0,-7px);
	position: relative;
}

.content-body p.dl::before {
	content: none;
}

.content-body p.title-A,
.content-body p.title-B {
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}

.content-body p.title-A::before {
	content: "▶";
}

.content-body p.title-B::before {
	content: "▷";
}

.content-body p.dl line {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	height: 10px; width: 500px;
	background: rgba(51,51,51,0.8) /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, rgba(51,51,51,0.8), rgba(70,88,101,0.8)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(51,51,51,0.8), rgba(70,88,101,0.8)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(51,51,51,0.8), rgba(70,88,101,0.8)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(51,51,51,0.8), rgba(70,88,101,0.8)); /* Standard syntax */
	border-radius: 10px;
}

.content-body .photo {
	position: relative;
	margin: 28.25px 0;
	transform: rotate(1deg);
}

.content-body .photo > .tape {
	position: absolute;
	top: 0; left: 50%;
	transform: rotate(-1deg) translate(-50%,-50%);
}

.content-body .photo > .photo-style {
	max-width: 620px; /*600 + 20*/
	height: 357.5px;	/*337.5 + 20*/
}

.content-body quote {
	display: block;
	padding: 0 1em;
	margin: 0 2em;
	transform: translate(0,-7px);
	font-style: italic;
	color: white;
	background-color: rgba(255,100,100,0.8);
	border-left: 10px solid rgba(255,200,200,0.8);
	box-shadow: 3px 3px 3px grey;
}

.content-body quote small {
	font-size: 18px;
	display: block;
	margin-left: 0.5em;
}

.content-body quote small::before {
	content: "― ";
}

.content-body a {
	text-decoration: none;
	background-image: url(../img/underline.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	color: inherit;
	padding-bottom: 5px;
	border-radius: 5px;
}

.content-end {
	margin-top: 10px;
	font-family: bamboo, notoSansCJKtc;
	height: 70px;
	width: auto;
	font-size: 16px;
	line-height: 16px;
	cursor: default;
}

.content-end p {
	margin: 0;
}

.content-end p+p {
	margin-top: 5px;
}

.content-end a {
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,0.8);
	color: rgb(245,241,232);
	color: rgba(245,241,232,1);
	padding: 1px 3px;
	border-radius: 3px;
}

.content-end a:hover,
.content-end a:active {
	text-decoration: none;
}

.memo,
.blog-memo {
	background-image: url(../img/navigation.png);
	background-repeat: no-repeat;
	height: 371px;
	font-family: hanazome;
	font-size: 16px;
	color: lightyellow;

	padding-top: 2em;
	padding-left: 1em; 
	padding-right: 0.8em; 

	position: relative;
}

.menu-col {
	position: fixed;
	top: 1%; right: 23%;
}

.blog-memo {
	margin-top: 2em;
}

.memo a,
.blog-memo a,
.mobile-recent-blog a,
#mobile-nav-content .nav-part a {
	color: inherit;
	text-decoration: none;
}

.memo a:hover,
.blog-memo a:hover,
.mobile-recent-blog a:hover,
#mobile-nav-content .nav-part a:hover {
	color: rgb(220,220,184);
	text-decoration: none;
}

.memo p,
.blog-memo p,
.mobile-recent-blog p {
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}

.memo .share-part,
.blog-memo .share-part {
	position: absolute;
	bottom: 10%; left: 1em;
	max-width: 330px;
}

.nav-label {
	background-image: url(../img/nav_label.png);
	background-repeat: no-repeat;
	position: relative;
	width: 357px; height: 65px;
	font-family: hanazome;
	font-size: 36px;
	
	margin-top: 1em;
	padding: 0.5em 1em;
	box-shadow: 10px 10px 10px -5px grey;
}

.nav-label > a {
	color: inherit;
	position: absolute;
	top: 45%; left: 40%;
	transform: translate(-50%,-50%);
	text-decoration: none;
}

.nav-label > a:hover,
.nav-label > a:active {
	background-image: url(../img/underline.png);
	background-repeat: repeat-x;
	background-position: bottom center;
}

/*Mobile use item*/
.mobile-nav {
	position: fixed;
	/*top: 0.2em; right: 0.2em;*/
	top: 0.25em; right: 0;
	padding: 8px 10px 2px 12px;
	color: white;
	background-color: rgb(255,100,100);
	font-size: 32px;
	border-radius: 25px;

	z-index: 2;
	display: none;
	opacity: 0.5;
	transition: opacity 0.5s, border-radius 0.3s;
}

#mobile-nav-wrapper {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 300px;
	/*width: 1px; height: 1px;*/
	background-color: rgb(255,100,100);
	transform: translate(0,-100%);

	/*transition: width 0.5s, height 0.5s, transform 0.5s;*/
	transition: transform 0.35s ease-out, box-shadow 0.2s;
	z-index: 1;
	display: none;
}

#mobile-nav-content {
	font-family: hanazome;
	font-size: 16px;
	color: lightyellow;

	margin: 0.5em 1em;
	height: 300px;
	position: relative;

	opacity: 0;
	transition: opacity 0.25s;
}

.mobile-recent-blog {
	height: 200px;	
	line-height: 16px;
}

.mobile-recent-blog p{
	padding: 3px 0;
	margin: 0;
}

#mobile-nav-content .share-part {
	position: absolute;
	bottom: 90px; left: 0;
	max-width: 380px; max-height: 80px;
}

#mobile-nav-content .nav-part {
	position: absolute;
	bottom: 20px; left: 0;
	max-width: 380px; max-height: 20px;
}

/*Tablap View*/
@media screen and (min-width: 420px) and (max-width: 1024px) {
	.blog-title > .photo > .tape {
		max-width: 450px;
		max-height: 30px;
	}

	.blog-title > .photo > .photo-style {
		max-width: 660px; /*650+10*/
		max-height: 210px; /*200+10*/
	}

	.title-content {
		font-size: 36px;
		width: 380px;
	}

	.title-content small {
		font-size: 12px;
	}

	.content-heading {
		padding-top: 0.5em;
		font-size: 1.5em;
	}

	.content-body {
		font-size: 20px;
	}

	.photo-style {
		padding: 5px;
		background-color: rgba(255,255,255,0.8);
	}

	.content-body .photo {
		position: relative;
		margin: 29.4375px 0;
		transform: rotate(1deg);
	}

	.content-body .photo > .photo-style {
		max-width: 460px; /*450 + 10*/
		height: 263.125px;	/*253.125 + 10*/
	}

	.content-body .photo > .tape {
		max-width: 450px;
		max-height: 30px;
	}

	.content-body quote {
		padding: 0 0.5em;
		margin: 0 1em;
		transform: translate(0,-9px);
	}

	.content-body p.dl line {
		width: 450px;
	}

	.content-end {
		margin-top: 0;
		font-size: 14px;
		line-height: 14px;
	}

	#menu-col {
		display: none;
	}

	.mobile-nav,
	#mobile-nav-wrapper {
		display: block;
	}
}

/*Mobile View*/
@media screen and (max-width: 420px) {
	.blog-title > .photo > .tape {
		max-width: 300px;
		max-height: 20px;
	}

	.blog-title > .photo > .photo-style {
		max-width: 343px;
		max-height: 110px;
	}

	.title-content {
		font-size: 24px;
		width: 380px;
	}

	.title-content small {
		font-size: 6px;
	}

	.content-heading {
		padding-top: 0.5em;
		font-size: 1.5em;
	}

	.content-body {
		font-size: 16px;
	}

	.photo-style {
		padding: 5px;
		background-color: rgba(255,255,255,0.8);
	}

	.content-body .photo {
		position: relative;
		margin: 25.625px 0;
		transform: rotate(1deg);
	}

	.content-body .photo > .photo-style {
		max-width: 310px; /*300 + 10*/
		height: 178.75px;	/*168.75 + 10*/
	}

	.content-body .photo > .tape {
		max-width: 300px;
		max-height: 20px;
	}

	.content-body quote {
		padding: 0 0.5em;
		margin: 0 1em;
		transform: translate(0,-1px);
	}

	.content-body p.dl line {
		width: 300px;
	}

	.content-end {
		margin-top: 5px;
		font-size: 8px;
		line-height: 12px;
	}

	#menu-col {
		display: none;
	}

	.mobile-nav,
	#mobile-nav-wrapper {
		display: block;
	}
}